# Coding and Programming

## Capítulo 2

### Programación básica de python - Secuencia de datos escrita en python

- **Unidad 10.** Tipos de datos lista y tupla Tipos de datos lista y tupla
- **Unidad 11.** Tipos de datos de diccionario Tipos de datos de diccionario
- **Unidad 12.** Tipos de datos de secuencia
- **Unidad 13.** Listas 2D
- **Unidad 14.** Método del diccionario-1
- **Unidad 15.** Método del diccionario-2
- **Unidad 16.** Establecer tipos de datos

# Quiz 2

###### Alumno: Julio Zambrano Eduardo Figueredo
###### C.I: 30.720.044
###### Correo: JulioZambranoCL@gmail.com
###### TLF: 04241880405

___

## Q 10-01

Si hay dos listas `l1` y `l2` con las siguientes cadenas, use la combinación de `l1` y `l2` para imprimir de la siguiente manera.

**Pauta de codificación:** use bucles anidados e imprímalos.

```
l1 = ['I like','I love']
l1 = ['pancake.','kiwi juice.','espresso.']
```

### Output
```
I like pancake.
I like kiwi juice.
I like espresso.
I love pancake.
I love kiwi juice.
I love espresso.
```

In [4]:
l1 = ['I like','I love']
l2 = ['pancake.','kiwi juice.','espresso.']

for i in l1:
    for j in l2:
        print(i, j)

I like pancake.
I like kiwi juice.
I like espresso.
I love pancake.
I love kiwi juice.
I love espresso.

___

## Q 11-01

El diccionario de personas se define de la siguiente manera.

Agregue un nuevo elemento a este diccionario de personas con la clave 'Padre' y el valor 'John Doe'.

**Pauta de codificación:** después de definir el diccionario de personas, escriba el código para agregar nuevos elementos.

`person = {'Name':'David Doe', 'Age':26, 'Weight':82, 'Job':'Data Scientist'}`

In [2]:
person = {
    'Name':'David Doe',
    'Age':26,
    'Weight':82,
    'Job':'Data Scientist'
}

person['Padre'] ='John Doe'

person

{'Name': 'David Doe',
 'Age': 26,
 'Weight': 82,
 'Job': 'Data Scientist',
 'Padre': 'John Doe'}

___

## Q 12-01

Al usar datos de tupla, los valores de dos variables se pueden intercambiar sin usar una variable temporal. Usando este método de intercambio, escriba un programa que reemplace el valor más grande de 12 en la lista dada, y pase a la posición del último.

**Pauta de codificación:** use un bucle `for`. Al intercambiar valores en una lista, no se deben usar variables adicionales como temp.

`lista = [5,6,3,9,2,12,3,8,7]`

In [121]:
lista = [5,6,3,9,2,12,3,8,7]

for i in lista:
        if i == lista[lista.index(12)]:
         lista[lista.index(12)], lista[-1] = lista[-1], lista[lista.index(12)]

lista

[5, 6, 3, 9, 2, 7, 3, 8, 12]

_______________________________________________________________________________________________________________________________________

## Q 13-01

La matriz bidimensional `a` contiene los valores `[[1, 2], [3, 4], [5, 6]]`.

Cambie esta matriz bidimensional a una matriz unidimensional como `[1, 2, 3, 4, 5, 6]` e imprímala.


**Pauta de codificación:** use un bucle `for`. Defina una nueva matriz y coloque los elementos de a en esta matriz.

In [49]:
a = [[1, 2], [3, 4], [5, 6]]

matriz = []

for i in a:
    for j in i:
        matriz.append(j)
        
matriz

[1, 2, 3, 4, 5, 6]

___

## Q 14-01

Dada un diccionario en la variable **maria** que contiene las puntuaciones de los cursos 'coreano', 'inglés', 'matemáticas' y 'ciencia', se almacenan como clave:valor. Imprima el puntaje promedio para los puntajes de las asignaturas de maría.

**Guía de codificación:** Utilice los métodos de diccionario **values()** y **len()** funciones.

`maria = { 'korean':94, 'english':91, 'maths':89, 'science':83 }`

In [35]:
maria = { 'korean':94, 'english':91, 'maths':89, 'science':83 }
a = maria.values()

suma = 0
for i in a:
    suma += i

total = suma / len(maria)

print(total)

89.25

___

## Q 15-01

Declare una variable `school` con un diccionario anidado de la siguiente manera.

```
school = {
    'kim':{ 'age':16, 'hei':170, grade:3 },
    'lee':{ 'age':15, 'hei':165, grade:2 },
    'cho':{ 'age':14, 'hei':167, grade:1 },
}
```


Luego, use la función `deepcopy()` del módulo de copia para escribir un programa que 'copie' a otra variable, `school2`. (Verifique que `school` y `school2` sean variables diferentes a través del operador `is`).

**Pauta de codificación:** Imprima el resultado de `school is school2`, que debe ser falso.

In [45]:
import copy

school = {
    'kim':{ 'age':16, 'hei':170, 'grade':3 },
    'lee':{ 'age':15, 'hei':165, 'grade':2 },
    'cho':{ 'age':14, 'hei':167, 'grade':1 },
}

school2 = copy.deepcopy(school)


school is school2

False

___

## Q 16-01

Hay una tupla de puntuaciones de la siguiente manera.

```
scores = (
    ('DongKyu Park' , 88, 95, 90),
    ('YoungMin Kang', 85, 90, 95),
    ('DongMin Park' , 70, 90, 80),
    ('Seungloo Hong', 90, 90, 95),
)
```


Esta tupla contiene información sobre cuatro estudiantes.

En esta información, el nombre del estudiante y las calificaciones en inglés, matemáticas y ciencias forman una tupla.

Por ejemplo, 'David Doe' tiene un puntaje de inglés de 88, un puntaje de matemáticas de 95 y un puntaje de ciencias de 90.

Extraiga solo puntajes matemáticos desempaquetando usando la función zip en la tupla del puntaje. Escriba un código que calcule el promedio de estos puntajes matemáticos extraídos.

**Pauta de código:** use la función **zip** para resolver el problema

In [1]:
scores = (
    ('DongKyu Park' , 88, 95, 90),
    ('YoungMin Kang', 85, 90, 95),
    ('DongMin Park' , 70, 90, 80),
    ('Seungloo Hong', 90, 90, 95),
)
# desempaquetamos la tuplas con el metodo zip, y la convertimos en lista con el metodo list

prueba = list(zip(scores[0], scores[1], scores[2], scores[3])) 
promedio = 0 # variable que acumulara el promedio

for i in range(len(prueba)):
    if i == 2:
        #si i es igual a 2, usamos un segundo bucle, para sumar las variables que necesitamos
        for j in range(len(prueba[i])):
            
            promedio += prueba[i][j] # suma todos los numeros de la nota de matematicas
            
        promedio /= 4 # al salir del bucle lo divide por 4, que son las cantidad de notas que tenemos
        
print('Promedio matematico:', promedio)

Promedio matematico: 91.25

___

## Fin